<p>SHOW ALL PROPERTIES</p>


<h2><%= @property.description %></h2>
<h5>asked by <%= @user_property.name%></h5>


<div class="container">

	<div class="row">
		<div class = "col-md-6">
			<ul class="list-inline">
				<li><h1>Property: <%= @property.description%></h1></li>
					<li>Price: <%= @property.price %></li>
						<li><p>Posted by: <a href= "/users/<%=@product.id%>/products"><%=@property.user.name%></a></p></li>
			</ul>
		</div>	
	</div>	



<form action="/properties/<%= @properties.id %>/edit" method="GET">
			<input type="submit" value="Edit Property">
		</form>



/properties/:id